#! /bin/sh
# ~/.xprofile: execute commands at the beginning of the X user
#              session - before the window manager is started.
#
# The xprofile files are natively sourced by the following
# display managers:
#
#     GDM     - /etc/gdm/Xsession
#     LightDM - /etc/lightdm/Xsession
#     LXDM    - /etc/lxdm/Xsession
#     SDDM    - /usr/share/sddm/scripts/Xsession
#
# More in https://wiki.archlinux.org/index.php/Autostarting

# TODO: Source the below lines so they are shared between this file & xinitrc

# This should to be at the top of the file
# https://wiki.archlinux.org/index.php/NVIDIA_Optimus#Use_NVIDIA_graphics_only
xrandr --setprovideroutputsource modesetting NVIDIA-0
xrandr --auto

# Set keyboard
setxbkmap -layout gb

# Add personal scripts to path
if [ -d "$HOME/scripts/path" ] ; then
  PATH=$PATH:$HOME/scripts/path
fi

export EDITOR="nano"
export FILE_MANAGER="pcmanfm"
