<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Disabled</key>
    <false/>
    <key>Label</key>
    <string>matt-dev.switch-browser-work</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/matt-dev/scripts/mac-os-utils/switch-browser/switch-browser.sh</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/tmp/switch-browser.stderr.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/switch-browser.stdout.log</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict>	
            <key>Hour</key>
            <integer>6</integer>
            <key>Minute</key>
            <integer>00</integer>
        </dict>
    </array>
</dict>
</plist>
